{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/forms.css' %}>
    <link rel="stylesheet" href={% static 'css/messages.css' %}>
    <title>Edit profile</title>
</head>
<body>
    <form action="{% url 'members:edit_profile' %}" method="post">
        {% csrf_token %}
        <legend> <h1>Profile edition</h1> </legend>

        {% include 'includes/messages.html' %}
        
        <label for="new_bio">New Bio: </label>
        <br>
        <textarea name="new_bio" id="new_bio" cols="30" rows="5" placeholder="Your old bio: {{old_bio}}"></textarea>

        <input type="submit" value="Change Bio">
    </form>
</body>
</html>