<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header><a href="{% url 'members:singup' %}">Create Account</a></header>
   <form action="{% url 'members:login' %}" method="post">
       {% csrf_token %}
       <fieldset>
            <legend><h1>Login</h1></legend>

            {% include 'includes/messages.html' %}

            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            
       </fieldset>

       <input type="submit" value="login">
   </form> 
</body>
</html>