<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ forum.name }}</title>
</head>
<body>
    {% include 'forums/includes/messages.html' %}

    <h1>{{ forum.name }}</h1>
    <hr>

    <div class="about">
        <h3>About the comunity</h3>
        <p>{{ forum.description }}</p>
        <strong>Created by: <a href= {% url 'members:show_member' forum.owner.username%}>{{ forum.owner.username }}</a></strong>
        <br>
        <strong>Created at: {{ forum.creation_date }}</strong>
        <br>
        <strong>{{ forum.members.count }} member{{ forum.members.count | pluralize }}</strong>
        <br>
    </div>

    {% if member_belongs %}
    <form action={% url 'forums:leave_forum' forum.name  %} method="post" id="join-or-leave-forum">
        {% csrf_token %}
    </form>
    {% else %}
        <form action={% url 'forums:join_forum' forum.name  %} method="post" id="join-or-leave-forum">
            {% csrf_token %}
        </form>
    {% endif %}

    <button form="join-or-leave-forum" formmethod="post" type="submit">
        {% if member_belongs %}
            Leave comunity
        {% else %}
            Join comunity
        {% endif %}
    </button>

    <a href={% url 'forums:publish_post' forum.name%}>Post something</a>

    <hr>

    <form action="" method="get">
        <input type="text" name="q" placeholder="search in {{ forum.name }}">
        <input type="submit">
    </form>
    
    <div class="posts">
        {% if posts_to_show %}
            {% for post in posts_to_show %}
                <div class="post">
                    <h3> <a href={% url 'forums:show_post' post.pk%}>{{ post.title }}</a></h3>
                    <p>{{ post.content }} <br> <strong>{{ post.points }} point{{ post.points | pluralize}}</strong></p>
                    
                    {% include 'forums/includes/vote_post_form.html' %}

                    <a href="">See comments</a>
                </div>
            {% endfor %}
        {% else %}
                <h2>No posts :(</h2>
        {% endif %}

    </div>
</body>
</html>