body {
    background-color: #F2F2F2;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

div[class^='post-']{
    margin: 15px;
    padding: 5px;
    background-color: white;
}

.reply{
    margin: 15px;
    padding: 5px;
    background-color: white;
}

.recent-posts {

    margin: 5px;
    width: 45%;
    float: left;
}

.recent-activity {

    margin: 5px;
    width: 45%;
    float: right;
}