{% load vote_comment_form_extras %}

<strong>Replies:</strong>
<div class="replies">
    {% if replies %}
        {% for reply in replies %}
            <br>
            <div class="reply" style="padding-left: 37px;">
                <a href={% url 'members:show_member' reply.commenter.user.username%}>{{reply.commenter.user.username}}</a>
                {% if reply.edited %}
                    <strong>(edited)</strong>
                {% endif %}
                
                <br>
                <strong>{{ reply.points }} Point{{reply.points | pluralize}}</strong>
                <br>

                <div class="vote-reply">
                    <form action={% url 'comments:upvote_comment' reply.pk %} method="post" id="upvote-reply-{{reply.pk}}">
                        {% csrf_token %}
                    </form>
                    <button form="upvote-reply-{{reply.pk}}" formmethod="post" type="submit" name="upvote">
                        {% if request.user.is_authenticated %}
                            {{ reply|already_upvoted_by:request.user }}
                        {% else %}
                            Upvote
                        {% endif %}
                    </button>
                
                    <form action={% url 'comments:downvote_comment' reply.pk %} method="post" id="downvote-reply-{{reply.pk}}">
                        {% csrf_token %}
                    </form>
                    <button form="downvote-reply-{{reply.pk}}" formmethod="post" type="submit">
                        {% if request.user.is_authenticated %}
                            {{ reply|already_downvoted_by:request.user }}
                        {% else %}
                            Downvote 
                        {% endif %}
                    </button>
                </div>

                <br>
                <p>{{reply.content}}</p>

                {% if request.user.is_authenticated and reply.commenter == request.user.member %}
                    <form action={% url 'comments:delete_comment' reply.pk%} method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete comment">
                    </form>
                    <a href={% url 'comments:edit_comment' reply.pk%}>Edit</a>
                {% endif %} 
                <br>
                <a href={% url 'comments:reply_to_comment' reply.pk %}>reply</a>
                <br>
                <a href={% url 'comments:show_comment' reply.pk%}>{{reply.comment_set.count}} Replies</a>
                
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h2>No comments to show :(</h2>
    {% endif %}
</div>