{% load vote_comment_form_extras %}

<div class="vote-comment">
    <form action={% url 'comments:upvote_comment' comment.pk %} method="post" id="upvote-comment-{{comment.pk}}">
        {% csrf_token %}
    </form>
    <button form="upvote-comment-{{comment.pk}}" formmethod="post" type="submit" name="upvote">
        {% if request.user.is_authenticated %}
            {{ comment|already_upvoted_by:request.user }}
        {% else %}
            Upvote
        {% endif %}
    </button>

    <form action={% url 'comments:downvote_comment' comment.pk %} method="post" id="downvote-comment-{{comment.pk}}">
        {% csrf_token %}
    </form>
    <button form="downvote-comment-{{comment.pk}}" formmethod="post" type="submit">
        {% if request.user.is_authenticated %}
            {{ comment|already_downvoted_by:request.user }}
        {% else %}
            Downvote 
        {% endif %}
    </button>
</div>