<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
    <header>
        <a href="{% url 'members:logout' %}">Logout</a>
    </header>
    <h1>Welcome to your Feed {{ request.user.username }}!</h1>
    {% if latest_posts %}
        {% for post in latest_posts %}
            <hr>
            <h2>{{ post.title }}</h2>
            <h3>Posted in: {{ post.forum.name }}</h3>
            <h3>Posted by: {{ post.poster.user.username }} </h3>
            <p>{{ post.content }}</p>
        {% endfor %}
    {% endif %}   
</body>
</html>