<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
    <header>
        <a href="{% url 'members:logout' %}">Logout</a>
    </header>
    <h1>Welcome to your Feed {{ request.user.username }}!</h1>
    {% if latest_posts %}
        {% for post in latest_posts %}
            <hr>
            <h2><a href={% url 'forums:show_post' post.pk%}>{{ post.title }}</a></h2>
            <strong>Posted in: <a href= {% url 'forums:show_forum' post.forum.name%}>{{ post.forum.name }}</a> </strong>
            <br>
            <strong>Posted by: <a href= {% url 'members:show_member' post.poster.user.username%}>{{ post.poster.user.username }}</a> </strong>
            <p>{{ post.content }}</p>
        {% endfor %}
    {% endif %}   
</body>
</html>