{% load vote_comment_form_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment by: {{ commenter_username}}</title>
</head>
<body>
    {% include 'includes/messages.html' %}
    <div class="comment_info">
        <strong>Written by: 
            <a href={% url 'members:show_member' commenter_username%}>{{commenter_username}}</a>
        </strong>
        <br>
        <strong>Written at: {{ comment.pub_date |date:'l, j M Y H:i'}}</strong>
        <br>
        {% if comment.in_reply_to %}
            <strong>In reply to: 
                <a href={% url 'comments:show_comment' comment.in_reply_to.pk%}>
                    {{comment.in_reply_to.commenter.user.username}}'s comment
                </a>
            </strong>
        {% elif comment.post%}
            <strong>Commenting: 
                <a href={% url 'forums:show_post' comment.post.pk%}>{{comment.post.title}} ({{comment.post.forum.name}})</a>
            </strong>
        {% endif %}
        <br>
        <strong>{{ comment.points }} Point{{comment.points | pluralize}}</strong>
    </div>
    
    <div class="vote-comment">
        <form action={% url 'comments:upvote_comment' comment.pk %} method="post" id="upvote-comment-{{comment.pk}}">
            {% csrf_token %}
        </form>
        <button form="upvote-comment-{{comment.pk}}" formmethod="post" type="submit" name="upvote">
            {% if request.user.is_authenticated %}
                {{ comment|already_upvoted_by:request.user }}
            {% else %}
                Upvote
            {% endif %}
        </button>
    
        <form action={% url 'comments:downvote_comment' comment.pk %} method="post" id="downvote-comment-{{comment.pk}}">
            {% csrf_token %}
        </form>
        <button form="downvote-comment-{{comment.pk}}" formmethod="post" type="submit">
            {% if request.user.is_authenticated %}
                {{ comment|already_downvoted_by:request.user }}
            {% else %}
                Downvote 
            {% endif %}
        </button>
    </div>

    {% comment %} {% if request.user.is_authenticated and reply.commenter == request.user.member %}
        <form action={% url 'comments:delete_comment' reply.pk%} method="post">
            {% csrf_token %}
            <input type="submit" value="Delete comment">
        </form>
    {% endif %} {% endcomment %}

    <div class="comment_content">
        <p>{{comment.content}}</p>
        <a href={% url 'comments:reply_to_comment' comment.pk %}>reply</a>
    </div>
    <hr>

    {% include 'includes/show_replies.html' %}
   
</body>
</html>