<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit comment</title>
</head>
<body>
    <h1>Editing comment</h1>
    {% include 'includes/messages.html' %}
    <form action={% url 'comments:edit_comment' comment.pk%} method="post">
        {% csrf_token %}
        <textarea name="new_content"  cols="30" rows="5">{{comment.content}}</textarea>
        <input type="submit" value="Edit">
    </form>
</body>
</html>