{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/messages.css' %}>
    <link rel="stylesheet" href={% static 'css/forms.css' %}>

    <title>Sending reply to {{comment.commenter}}'s comment</title>
</head>
<body>
    <h1>Sending reply to {{comment.commenter}}'s comment</h1>
    {% include 'includes/messages.html' %}
    <form action={% url 'comments:reply_to_comment' comment.pk %} method="post">
        {% csrf_token %}
        <textarea name="comment_content" cols="30" rows="5">I think your comment is...</textarea>
        <input type="submit" value="publish">
    </form>
</body>
</html>