{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/forms.css' %}>
    <link rel="stylesheet" href={% static 'css/messages.css' %}>
    <title>Forum Creation</title>
</head>
<body>
    <form action={% url 'forums:create_forum' %} method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Forum Creation</h1></legend>

            {% include 'includes/messages.html' %}

            <label for="forum_name">Forum name:</label>
            <input type="text" name="forum_name">
            <br>
            <label for="description">Description:</label>
            <input type="text" name="description">

        </fieldset>

        <input type="submit">
    </form>

</body>
</html>