{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/forms.css' %}>
    <link rel="stylesheet" href={% static 'css/messages.css' %}>
    <title>Editing: {{ post.title }}</title>
</head>
<body>
    <h1>Editing "{{ post.title }}"</h1>
    {% include 'includes/messages.html' %}
    <form action={% url 'forums:edit_post' post.pk%} method="post">
        {% csrf_token %}
        <textarea name="new_content" cols="30" rows="5">{{post.content}}</textarea>
        <input type="submit" value="publish">
    </form>
</body>
</html>