{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/messages.css' %}>
    <link rel="stylesheet" href={% static 'css/post.css' %}>
    <link rel="stylesheet" href={% static 'css/buttons.css' %}>
    <title>{{ post.title }}</title>
</head>
<body>
    {% include 'includes/messages.html' %}
    <div class="post">
        <h1>{{ post.title }}</h1>

        <div class="post-info">
            <strong>Posted in: <a href={% url 'forums:show_forum' post.forum.name %}>{{ post.forum.name }}</a></strong>
            <br>
            <strong>Posted at: {{ post.pub_date |date:'l, j M Y H:i'}}</strong>
            <br>
            <strong>Posted by: <a href={% url 'members:show_member' post.poster.user.username%}> {{ post.poster.user.username }} </a></strong>
                {% if post.edited %}
                    <strong>(edited)</strong>
                {% endif %}
            <br>
            <strong> {{ post.points }} Point{{post.points | pluralize}}</strong>
        </div>
    </div>

    
    {% if request.user.is_authenticated %}
        {% if post.poster == request.user.member %}
            <a href={% url 'forums:edit_post' post.pk %}>Edit Post</a>
            <form action={% url 'forums:delete_post' post.pk%} method="post">
                {% csrf_token %}
                <input type="submit" value="Delete Post" class="delete-post-button">
            </form>
        {% endif %}
    {% endif %}
    
    <div class="post-content">
        <p> {{ post.content }} </p>
    </div>

    {% include 'includes/vote_post_form.html' %}
    <a href={% url 'forums:reply_post' post.pk%}>Reply</a>

    {% include 'includes/show_replies.html' %}

</body>
</html>